@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
.attribution {
  font-size: 18px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  margin: 0rem;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  height: fit-content;
  overflow-x: hidden;
}
.women-image {
  height: 72%;
  position: relative;
  left: 9rem;
}
h1 {
  font-size: 4rem;
}
p {
  color: hsl(0, 36%, 70%);
  width: 111%;
  line-height: 1.5rem;
}
.heading-part1 {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}
.heading-part2 {
  color: hsl(0, 6%, 24%);
}

.hidden {
  display: none;
}
.emailInput {
  border: solid 2px black;
}
.icons {
  width: 26%;
  position: absolute;
  height: 58%;
  left: 29rem;
  top: 33.4rem;
}
.error {
  position: relative;
  left: -6.5rem;
  top: 1.7rem;
}
.text {
  display: flex;
  flex-direction: column;
}

.image {
  grid-area: image;
}

.logo {
  grid-area: logo;
  margin: 5rem 8rem 0rem 8rem;
}

.paragraph-heading {
  grid-area: paragraph-heading;
  justify-self: center;
  width: 60%;
}
.paragraph-heading p {
  margin: 3rem 0rem;
}
.email {
  grid-area: email;
}
.mobile {
  display: none;
}
.submit-button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  position: relative;
  left: -6rem;
  top: 1.5rem;
  width: 26%;
  border-radius: 25px;
  padding: 0.8rem 0rem;
}
.submit-button:hover {
  box-shadow: hsl(0, 36%, 70%) 0px 10px 44px -12px;
}
.emailInput {
  border: solid 2px hsl(0, 36%, 70%);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: hsl(0, 6%, 24%);
  margin: 0rem 8rem;
  width: 55%;
}
.errorParagraph {
  margin: 1rem 10rem;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "logo image"
    "paragraph-heading image"
    "email image";
  width: fit-content;
  justify-items: flex-start;
}

.image {
  grid-area: image;
  width: fit-content;
}

.logo {
  grid-area: logo;
}

.paragraph-heading {
  grid-area: paragraph-heading;
}

.email {
  grid-area: email;
}
@media only screen and (max-width: 400px) and (min-width: 300px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo"
      "image"
      "paragraph-heading"
      "email";
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .logo {
    grid-area: logo;
    margin: 0rem 0rem 0rem 2rem;
    align-self: center;
  }

  .image {
    grid-area: image;
    margin: 0;
  }
  .women-image {
    position: unset;
    height: auto;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .paragraph-heading {
    grid-area: paragraph-heading;
    justify-self: flex-start;
    align-self: center;
    width: auto;
  }

  .email {
    grid-area: email;
    margin: 0;
    justify-self: flex-start;
  }
  .emailInput {
    margin: 0rem 2.5rem;
    width: 75%;
  }
  .icons {
    width: 85%;
    position: absolute;
    height: 58%;
    left: 11rem;
    top: 48.9rem;
  }
  .paragraph-heading p {
    width: 70%;
    margin: 3rem;
  }
  .submit-button {
    top: 5.5rem;
    left: -3rem;
  }
}
@media only screen and (max-width: 500px) and (min-width: 401px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      "logo"
      "image"
      "paragraph-heading"
      "email";
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .women-image {
    position: unset;
    width: 100%;
    height: auto;
  }
  .image {
    width: 100%;
  }
  .emailInput {
    margin: 0rem 5rem;
  }
  .errorParagraph {
    margin: 1rem 0rem;
    font-size: 18px;
  }
  .logo {
    margin: 0rem 2rem;
    align-self: center;
  }
  .submit-button {
    left: -13rem;
    top: 21.5rem;
    width: 65%;
  }
  .error {
    left: -13.5rem;
    top: 21.7rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 501px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      "logo"
      "image"
      "paragraph-heading"
      "email";
    width: 100%;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .image {
    width: 100%;
  }
  .women-image {
    position: unset;
    width: 100%;
    height: auto;
  }
  .emailInput {
    margin: 0rem 10rem;
  }
  .submit-button {
    left: -1rem;
    top: 36.5rem;
    width: 50%;
  }
  .error {
    left: -1.5rem;
    top: 36.7rem;
  }
  .logo {
    align-self: center;
    margin: 5rem 8rem 3rem 8rem;
  }
}
@media only screen and (max-width: 2000px) and (min-width: 1500px) {
  .women-image {
    height: 100%;
  }
  .container {
    margin-bottom: 20rem;
  }
  .paragraph-heading p {
    font-size: 2em;
    line-height: 3rem;
  }
  .emailInput {
    font-size: 1.3em;
    margin: 0rem 13rem;
  }
  .submit-button {
    left: 6.8rem;
    top: 4.5rem;
  }
  .error {
    left: 5.5rem;
    top: 4.7rem;
    transform: scale(1.4);
  }
  .errorParagraph {
    margin: 1rem 15rem;
  }
  p.errorParagraph {
    font-size: 1.5em;
  }
}
